<h1>Booking Index</h1>

<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Phone</th>
    <th>Email</th>
    <th>Start Time</th>
    <th>Hours</th>
    <th>Total Time</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @bookings.each do |booking| %>
    <tr>
      <td><%= booking.id %></td>
      <td><%= booking.first_name %></td>
      <td><%= booking.last_name %></td>
      <td><%= booking.phone %></td>
      <td><%= booking.email %></td>
      <td><%= booking.start_time.strftime("%Y-%m-%d %H:%M:%S") %></td>
      <td><%= booking.hours %></td>
      <td><%= booking.total_time.strftime("%Y-%m-%d %H:%M:%S") %></td>
      <td><%= link_to 'Show', booking %></td>
      <td><%= link_to 'Edit', edit_booking_path(booking) %></td>
      <td><%= link_to 'Destroy', booking, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= link_to 'New Booking', new_booking_path %>
