<h1>Booking Index</h1>

<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Phone</th>
    <th>Email</th>
    <th>Start Time</th>
    <th>Hours</th>
    <th>Total Time</th>
    <th>Booking Status</th>
    <th colspan="3">Actions</th>
  </tr>
  </thead>

  <tbody>
  <% @bookings.each do |booking| %>
    <tr>
      <td><%= booking.id %></td>
      <td><%= booking.first_name %></td>
      <td><%= booking.last_name %></td>
      <td><%= booking.phone %></td>
      <td><%= booking.email %></td>
      <td><%= booking.start_time.strftime("%Y-%m-%d %H:%M:%S") %></td>
      <td><%= booking.hours %></td>
      <td><%= booking.total_time.strftime("%Y-%m-%d %H:%M:%S") %></td>
      <td><%= booking.status_label %></td>
      <td class="actions">
        <%= link_to 'Show', booking %>
        <%= link_to 'Edit', edit_booking_path(booking) %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= link_to 'New Booking', new_booking_path, class: 'new-booking-link' %>


<style>
    table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
    }

    th, td {
        border: 1px solid #dddddd;
        padding: 8px;
        text-align: left;
    }

    th {
        background-color: #f2f2f2;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    .actions {
        display: flex;
        gap: 5px;
    }

    .actions a {
        padding: 5px 10px;
        background-color: #4CAF50;
        color: white;
        text-decoration: none;
        border-radius: 3px;
    }

    .actions a:hover {
        background-color: #45a049;
    }
</style>

